<div class="d-flex col-9 m-3 border rounded">
    
    <div id="backup_reg_cont" class="d-flex flex-column w-100 p-3">

        <div class="d-flex flex-row mb-3 justify-content-between">

            <div class="d-flex">
                <h4>Registro de Respaldos</h4>
            </div>
            <div id="num_paginas" class="d-flex ms-1 col-3 justify-content-end align-items-center">
                {{ page }} de {{ pages }} &nbsp; <span class="material-icons">description</span> 
            </div>

        </div>

        <table id="backup_reg" class="table table-striped table-hover table-bordered w-100" >
            <thead class="">
              <tr>
                <th>Fecha Registro</th>
                <th>Tipo de Backup</th>
                <th>N# de Cinta</th>
                <th>Usuario</th>
                <th>Fecha Finalización</th>
                <th id="th_estado">Estado</th>
              </tr>
            </thead>
            <tbody class="table-group-divider fs-6">
              <tr *ngFor="let register of registers">
                <td>{{ (register.start_date | amFromUnix) | amLocale: 'es' | amDateFormat: 'DD-MM-YYYY' }}</td>
                <td>{{ register.backup.name }}</td>
                <td>{{ register.tape.number }}</td>
                <td>{{ register.user.name }}</td>
                <td>{{ (register.end_date | amFromUnix) | amLocale: 'es' | amDateFormat: 'DD-MM-YYYY' }}</td>
                <td *ngIf="register.status == false; else trueBlock">Finalizado</td>
                <ng-template #trueBlock>
                  <td id="td_true">En proceso</td>
                </ng-template>
              </tr>
            </tbody>
        </table>

        <div class="d-flex w-100 justify-content-center">
            <div class="d-flex flex-row justify-content-center col-2">

                <button type="button" class="d-flex btn btn-outline-secondary w-50 me-1 justify-content-center"
                        (click)="viewLess()" *ngIf="noLess">
                    <span class="material-icons">
                        chevron_left
                    </span>
                </button>
                
                <button type="button" class="d-flex btn btn-outline-secondary w-50 justify-content-center"
                        (click)="viewMore()" *ngIf="!noMore">
                    <span class="material-icons">
                        chevron_right
                    </span>
                </button>

            </div>
        </div>

    </div>
</div>