<div class="d-flex flex-row p-3"> <!-- Div Principal -->

    <div id="div_respaldos" class="d-flex border me-3 rounded">
        <div id="backup_reg_cont" class="d-flex flex-column w-100 p-3">

            <!-- Barra superior con titulo RESPALDOS y numero de pagina -->
            <div class="d-flex flex-row mb-3 justify-content-between">
                <div class="d-flex">
                    <h3>Respaldos</h3>
                </div>
                <div id="num_paginas" class="d-flex ms-1 col-3 justify-content-end align-items-center">
                    {{ page }} de {{ pages }} &nbsp; <span class="material-icons">description</span> 
                </div>
            </div>

            <!-- Listado -->
            <div class="d-flex flex-column mb-3">
                <div class="d-flex">
                    <table id="table_head" class="w-100">
                        <thead class="">
                            <tr>
                                <td id="tfecha">Fecha Inicio</td>
                                <td id="tbackup">Tipo Backup</td>
                                <td id="tcinta">N# Cinta</td>
                                <td id="tuser">Usuario</td>
                                <td id="tfecha">Fecha Fin</td>
                                <td id="tnota">Notas</td>
                                <td id="testado">Estado</td>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="d-flex w-100" *ngFor="let register of registers">
                    <button id="btn_register" type="button">
                        <table>
                            <tr>
                                <td id="tfecha">{{ (register.start_date | amFromUnix) | amLocale: 'es' | amDateFormat: 'DD-MM-YYYY' }}</td>
                                <td id="tbackup">{{ register.backup.name}}</td>
                                <td id="tcinta">{{ register.tape.number }}</td>
                                <td id="tuser">{{ register.user.name + ' ' + register.user.surname }}</td>
                                <td id="tfecha">{{ (register.end_date | amFromUnix) | amLocale: 'es' | amDateFormat: 'DD-MM-YYYY' }}</td>
                                <td id="tnota_text">{{ register.note }}
                                <td id="testado" *ngIf="register.status == false; else trueBlock">Finalizado</td>
                                <ng-template #trueBlock>
                                    <td id="td_true">En proceso</td>
                                </ng-template>
                            </tr>
                        </table>
                    </button>
                </div>
            </div>
            
            <!-- Botones para pasar pagina -->
            <div class="d-flex w-100 justify-content-center">
                <div class="d-flex flex-row justify-content-center col-2">

                    <button type="button" class="d-flex btn btn-outline-secondary w-50 me-1 justify-content-center"
                            (click)="viewLess()" *ngIf="noLess">
                        <span class="material-icons">
                            chevron_left
                        </span>
                    </button>
                    
                    <button type="button" class="d-flex btn btn-outline-secondary w-50 justify-content-center"
                            (click)="viewMore()" *ngIf="!noMore">
                        <span class="material-icons">
                            chevron_right
                        </span>
                    </button>

                </div>
            </div>

        </div>
    </div>

    <!-- Div de CINTAS DISPONIBLES -->
    <div id="div_cintas" class="d-flex flex-column p-3 border rounded">
        <div class="d-flex mb-3">
            <h3>Cintas disponibles</h3>
        </div>
        
        <div class="d-flex mb-1" *ngFor="let tape of avalibleTapes"> <!-- Contenedor lista cintas -->
            <table id="tabla_tapes" class="w-100" >
                <tr>
                    <td id="td_numero_tape">{{ tape.number }}</td>            
                    <td id="td_lugar_tape">{{ tape.place }}</td>            
                    <td id="td_estado_tape" rowspan="2">
                        <span class="d-flex material-icons justify-content-center">check_circle</span>
                    </td>            
                </tr>
                <tr>
                    <td id="td_descrip_tape" colspan="2">{{ tape.description }}</td>
                </tr>
            </table>
        </div>

    </div>

</div>


<!-- <table id="backup_table" class="mb-1 w-100">
    <thead class="">
        <tr>
            <td id="tfecha">Fecha Inicio</td>
            <td id="tbackup">Tipo Backup</td>
            <td id="tcinta">N# Cinta</td>
            <td id="tuser">Usuario</td>
            <td id="tfecha">Fecha Fin</td>
            <td id="tnota">Notas</td>
            <td id="testado">Estado</td>
        </tr>
    </thead>
</table>
<button id="btn_register" type="button" *ngFor="let register of registers">
    <table>
        <tr >
            <td id="tfecha">{{ (register.start_date | amFromUnix) | amLocale: 'es' | amDateFormat: 'DD-MM-YYYY' }}</td>
            <td id="tbackup">{{ register.backup.name}}</td>
            <td id="tcinta">{{ register.tape.number }}</td>
            <td id="tuser">{{ register.user.name + ' ' + register.user.surname }}</td>
            <td id="tfecha">{{ (register.end_date | amFromUnix) | amLocale: 'es' | amDateFormat: 'DD-MM-YYYY' }}</td>
            <td id="tnota_text">{{ register.note }}
            <td id="testado" *ngIf="register.status == false; else trueBlock">Finalizado</td>
            <ng-template #trueBlock>
                <td id="td_true">En proceso</td>
            </ng-template>
        </tr>
    </table>
</button> -->