thead
    th
        text-align: center

tbody
    td
        text-align: center

#num_paginas
    color: #616161

#th_estado
    width: 10%

tr:has(#td_true)
    height: 60px
    background-color: #c8eeb7
    border: 2px #048100 solid
    font-size: 18px
    td
        color: #0b2408
        border: 2px #048100 solid
        font-weight: bold
        vertical-align: middle
        