thead
    td
        text-align: center
        font-weight: bold
        font-size: 16px
        color: #646464

tbody
    td
        text-align: center
        // width: 15%


#tfecha
    width: 13%
#tbackup
    width: 14%
#tcinta
    width: 11%
#tuser
    width: 15%
#tnota
    font-size: 14px
#testado
    width: 10%


#num_paginas
    color: #616161

tr:has(#td_true)
    height: 60px
    background-color: #c8eeb7
    border: 2px #048100 solid
    font-size: 18px
    td
        color: #0b2408
        border: 2px #048100 solid
        font-weight: bold
        vertical-align: middle
    

#div_respaldos
    width: 75%

#div_cintas
    width: 25%