<!-- Se muestra cuando el usuario esta logueado -->
<div id="nav-bar" class="d-flex flex-row" *ngIf="identity">
    
    <div id="titulo" class="d-flex col-3">
        <div class="d-flex w-100 h-100 ps-3 justify-content-start align-items-center">
            <a class="link-home" [routerLink]="['/home']">
                Inventario Cintas
            </a>
        </div>
    </div>
    
    <div class="d-flex col-6">
        <div class="d-flex w-100 h-100 justify-content-center align-items-center">
            Nuevo registro | Cintas | Respaldos | Tipos de backups
        </div>
    </div>

    <div class="d-flex col-3 pe-4 dropdown-center justify-content-end align-items-center ">
        <a id="link_usuario" class="d-flex col-5 rounded-3 justify-content-center align-items-center " 
                data-bs-toggle="dropdown" aria-expanded="false">
            {{identity.name}}
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Editar usuario</a></li>
            <li><a class="dropdown-item" (click)="logout()">Cerrar sesión</a></li>
        </ul>
    </div>

</div>


<!-- Se muestra cuando el usuario no esta logueado -->
<div id="nav-bar" class="d-flex flex-row" *ngIf="!identity">
    <div id="titulo" class="d-flex col-9">
        <div class="d-flex w-100 h-100 ps-3 justify-content-start align-items-center">
            <a class="link-home" [routerLink]="['/home']">
                Inventario Cintas
            </a>
        </div>
    </div>

    <div class="d-flex col-3 pe-4 dropdown-center justify-content-end align-items-center ">
        <a id="link_usuario" class="d-flex col-5 rounded-3 justify-content-center align-items-center" [routerLink]="['/login']">
            Login
        </a>
    </div>
    
</div>


<router-outlet></router-outlet>